<h1>Welcome to the first rail project of batch 1208!</h1>

<p>Today is <strong> <%= @date %> </strong> (it's a holiday)</p>

<%= link_to contact_path do %>
  <img src="https://images.unsplash.com/photo-1682686580452-37f1892ee5e8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1375&q=80" alt="">
<% end %>
